rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /errors/{errorId} {
      allow create: if
        request.resource.data.keys().hasAll(['source', 'fatal', 'name', 'message', 'route', 'description', 'timestamp'])
        && request.resource.data.source is string
        && request.resource.data.fatal is bool
        && request.resource.data.name is string
        && request.resource.data.message is string
        && request.resource.data.route is string
        && request.resource.data.description is string;
      allow read, update, delete: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}